/* HexagonSpinner.css */
.hexagon {
  opacity: 0;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Set tighter spacing for x and y translations */
.hexagon-0 {
  transform: translate(50px, 0px); /* Right */
  animation-delay: 0s;
}

.hexagon-1 {
  transform: translate(50px, 38px); /* Bottom Right */
  animation-delay: 0.25s;
}

.hexagon-2 {
  transform: translate(18px, 58px); /* Bottom Left */
  animation-delay: 0.5s;
}

.hexagon-3 {
  transform: translate(-14px, 38px); /* Left */
  animation-delay: 0.75s;
}

.hexagon-4 {
  transform: translate(-14px, -0px); /* Top Left */
  animation-delay: 1s;
}

.hexagon-5 {
  transform: translate(17.5px, -20.3px); /* Top Right */
  animation-delay: 1.25s;
}
